.ghost-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0; 
}

.ghost-overlay-btns{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    z-index: 10;
}

.mute-btn{
    cursor: pointer;
}

.mute-btn-img{
    height: 60px;
}

